
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&family=Outfit:wght@100..900&display=swap');

:root {
    --bg-main:#F0F4FF;
    --primary:#5865F2;

}

body {
    background-color: var(--bg-main);
    font-family: 'Outfit' sans-serif;
}

h1
h2
h3
h4 {
    font-family: 'Climate Crisis' sans-serif;
    line-height: 1.1;
    word-break: break-word;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 80px;
    background-color: black;
    position: inherit;
    top: 0px;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 38px;
    width: auto;
}

.logo-text {
    font-family: 'Climate Crisis' sans-serif;
    font-size: 1.6rem;
    color: white;
    line-height: 0.8;
    font-weight: 500;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
}

.nav-links a:hover {
    color:var(--primary)
}       

.btn-pill {
    background-color:white;
    color:black;
    padding: 13px 32px;
    border-radius: 100px;
    text-align: none;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.btn-pill:hover {
    background-color: #f0f0f0;
}