<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRESENX | AI POWERED ATTENDANCE SYSTEM</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='img/logo.png')}}">
</head>
<body>
    <nav class="navbar">

        <div class="logo">
            <img src="{{url_for('static',filename='img/image.png')}}" style="height: 32px;" alt="PRESENX Logo">
            <div class="logo-text">PRESENX</div>
        </div>

        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#features">Features</a>
            <a href="journey">Journey</a>
            <a href="tech">Tech Stack</a>
        </div>

        <div class="nav-cta">
            <a href="https://presenx.streamlit.app/" class="btn-pill">
                Start AI Attendance
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z"></path></svg>
            </a>

        </div>

        <header class="hero">
            <div class="badge">
                Welcome to PRESENX
            </div>
            <h1>AI Powered <br> Attendance <span>System</span></h1>

            <p>Revolutionizing the classroom with next-gen computer vision and voice biometrics. Trusted by educators for speed, accuracy, and security.</p>

            <div class="hero-actions">
                <a href="https://presenx.streamlit.app/" class="btn-cta">
                    Start AI Attendance
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z"></path></svg>
                </a>

                <a href="journey" class="link-actions">Explore Journey</a>
            </div>

            <div class="floating-card card-left">
                <div class="card-img">
                    <img src="" alt="landing img 1">
                </div>
            </div>

            <div class="floating-card card-right">
                <div class="card-img">
                    <img src="" alt="landing img 2">
                </div>
            </div>
        </header>
        




    </nav>
</body>
</html>